<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
                  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  
				  
	<head>
		<meta charset = "UTF-8">
		<title>Home</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/homeStyle.css}" />
	</head>
	
	
	<body>
		<div class = "topnav">
			<a href = "/home?login">Login</a>
			<a href = "/home?register">Register</a>
		</div>
		
		<br />
		<br />
		<br />
		
		<div id = "noCurrentRuns" th:if = "${#lists.isEmpty(currentRunsLimit10)}"><span>No runs were ever started.</span></div>
		
		<div class = "currentUserRuns" th:if = "${#lists.size(currentRunsLimit10) > 0}">
			<table>
				<thead>
					<tr>
						<td>User</td>
						<td>Run</td>
						<td>Date Started</td>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "currentRuns: ${currentRunsLimit10}">
						<td th:text = "${currentRuns.username}"></td>
						<td th:text = "${currentRuns.runType}"></td>
						<td th:text = "${currentRuns.dateTimeStarted}"></td>
					</tr>
				</tbody>
			</table>	
		</div>
		
		<br />
		<br />
		<br />
		
		<div id = "noFinishedRuns" th:if = "${#lists.isEmpty(finishedRunsLimit10)}"><span>No runs were finished yet.</span></div>
		
		<div class = "recentlyCompletedRuns" th:if = "${#lists.size(finishedRunsLimit10) > 0}">
			<table>
				<thead>
					<tr>
						<td>User</td>
						<td>Run</td>
						<td>Date Ended</td>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each = "finishedRuns: ${finishedRunsLimit10}">
						<td th:text = "${finishedRuns.username}"></td>
						<td th:text = "${finishedRuns.runType}"></td>
						<td th:text = "${finishedRuns.dateTimeEnded}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>