<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
                  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  
				  
	<head>
		<meta charset = "UTF-8">
		<title>Home</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/homeStyle.css}" />
	</head>
	
	
	<body>
		<div class = "topnav">
			<a href = "/home?login">Login</a>
			<a href = "/home?register">Register</a>
		</div>
		
		<br />
		<br />
		<br />
		
		<div class = "currentUserRuns">
		</div>
		
		<br />
		<br />
		<br />
		
		<div class = "recentlyCompletedRuns">
		</div>
	</body>
</html>