<!DOCTYPE html>

<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
                  xmlns = "http://www.w3.org/1999/xhtml"
				  xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
				  
				  
				  
	<head>
		<meta charset = "UTF-8">
		<title>Register</title>
		<link rel = "stylesheet" type = "text/css" th:href = "@{/css/register.css}" />
	</head>
	
	
	<body>
		<div class = "nav">
			<a href = "/register?home">Home</a>
			<a href = "/register?login">Login<a>
		</div>
		
		<br />
		<br />
		<br />
		
		<div>
			<form action = "/register" method = "POST">
				username: <input type = "text" name = "username" />
				Password: <input type = "password" name = "password" />
				First Name: <input type = "text" name = "firstName" />
				Last Name: <input type = "text" name = "lastName" />
				Email: <input type = "text" name = "email" />
				<input type = "hidden" th:name = "${_csrf.parameterName}" th:values = "${_csrf.token}" />
				<button type = "submit">Register</button>
			</form>
		</div>
	</body>


</html>